body {
    margin-left: 20px;
}
.chat {
    background-color: blue;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.msg{
    background-color: brown;
    color: bisque;
    padding: 5px 15px;
    border-radius: 16px;
}
